<form [formGroup]="SubIndicatorUvmRecordForm" (ngSubmit)="submit()">
    <h1 mat-dialog-title>{{ title }}</h1>
    <mat-divider> </mat-divider>
    <mat-dialog-content>
        <div class="container pt-4">
            <div class="row">
                <!-- <mat-form-field appearance="outline" class="col-md-12 mt-1">
                    <mat-label>Clave</mat-label>
                    <input appInputRestriction="clave" matInput required name="clave" formControlName="clave"
                        [maxLength]="50" />
                    <mat-error *ngIf="SubIndicatorUvmRecordForm.get('clave').hasError('noWhitespace')">Este campo es
                        obligatorio</mat-error>
                    <mat-error *ngIf="SubIndicatorUvmRecordForm.get('clave').hasError('maxlength')">El valor máximo de caracteres
                        es 50
                    </mat-error>
                </mat-form-field> -->

                <mat-form-field appearance="outline" class="col-md-12 mt-1">
                    <mat-label>Subindicador UVM</mat-label>
                    <input matInput required formControlName="nombreSubIndicadorUvm" [maxLength]="500" />
                    <mat-error
                        *ngIf="SubIndicatorUvmRecordForm.get('nombreSubIndicadorUvm').hasError('noWhitespace')">Este
                        campo es obligatorio</mat-error>
                    <mat-error *ngIf="SubIndicatorUvmRecordForm.get('nombreSubIndicadorUvm').hasError('maxlength')">El
                        valor máximo de caracteres es 500
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-12">
                    <mat-label>Indicador UVM</mat-label>
                    <mat-select name="indicadorUvmId" formControlName="indicadorUvmId">
                        <mat-option *ngFor="let item of indicadorUVMList" [value]="item.id">{{
                            item.nombreIndicadorUvm }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="SubIndicatorUvmRecordForm.get('indicadorUvmId').hasError('required')">Este
                        campo es obligatorio</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-12">
                    <mat-label>Componente UVM</mat-label>
                    <mat-select name="componenteUvmId" formControlName="componenteUvmId">
                        <mat-option *ngFor="let item of componentUVMList" [value]="item.id">{{
                            item.nombreComponenteUvm }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="SubIndicatorUvmRecordForm.get('componenteUvmId').hasError('required')">
                        Este campo es obligatorio
                    </mat-error>
                </mat-form-field>

                <!-- <mat-form-field appearance="outline" class="col-md-12">
                    <mat-label>Componente UVM</mat-label>
                    <input matInput nameame="nombreComponenteUvm" formControlName="nombreComponenteUvm" />
                </mat-form-field> -->

            </div>
            <div class="row">
                <div class="col-md-12 mt-2">
                    <mat-checkbox formControlName="activo" [disabled]="!checkPermission(2)"> Activo </mat-checkbox>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-divider></mat-divider>
    <mat-dialog-actions align="center" class="pb-4">
        <button type="submit" mat-raised-button class="mt-3" color="primary"
            [disabled]="SubIndicatorUvmRecordForm.invalid || disabled || !edit">
            Guardar
        </button>
        <button type="button" mat-raised-button class="mt-3" (click)="closeModalByConfimation()">Cancelar</button>
    </mat-dialog-actions>
</form>