.scale__table {
    width: calc(95%);
}

.scale__title {
    font-weight: 600;
    height: 57px;
}

// .width__valor {

//   text-align: center;
// }
// .width__escenario {
//   width: 25rem;
// }

// .width__descripcion {
//   width: 70rem;
//   margin-right: 1rem;
// }

.scale_tbody_td {
    text-align: center;
    vertical-align: middle;
}
